<h1>Product</h1>
<ul>
  <% @products.each do |product| %>
  <li>
    <%= link_to product.title, product_path(product) %>
    <%= " | Price: #{product.price}" %>
    <%= " | Stock: #{product.stock_quantity}" %>
    <% end %>
  </li>

</ul>
